[project]
	description = Network Attached Storage (NAS) Box using Raspberry Pi allows you to install comprehensive applications and services on your Raspberry Pi, whenever you need them. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikhil Kathole (ntkathole)
[access "refs/for/refs/*"]
	read = group user/Nikhil Kathole (ntkathole)
	push = group user/Nikhil Kathole (ntkathole)
	label-Code-Review = -2..+2 group user/Nikhil Kathole (ntkathole)
	label-Verified = -1..+1 group user/Nikhil Kathole (ntkathole)
	rebase = group user/Nikhil Kathole (ntkathole)
	removeReviewer = group user/Nikhil Kathole (ntkathole)
	submit = group user/Nikhil Kathole (ntkathole)
[access "refs/heads/*"]
	read = group user/Nikhil Kathole (ntkathole)
	create = group user/Nikhil Kathole (ntkathole)
	push = +force group user/Nikhil Kathole (ntkathole)
	pushMerge = group user/Nikhil Kathole (ntkathole)
[access "refs/tags/*"]
	push = group user/Nikhil Kathole (ntkathole)
	push = +force group user/Nikhil Kathole (ntkathole)
