 <!DOCTYPE html>
<html>
<head>

  <title>Raspberry Pi NAS Box</title>
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main-out">
<img class="pull-right" src="/static/images/logo.svg">
<div class="main">
<div class="page">
<div class="top">
<div class="books">
<div class="header-top">
<h1><span>NAS Box using Raspberry Pi</span></h1>

</div>
<div class="topmenu">
<ul>
  <li><a href="/signup">Home</a></li>
  <li><a href="/about">About Us </a></li>
  <li><a href="/new">What's New</a></li>
  <li><a href="/connectivity">Connectivity</a></li>
 <form action="/logout">
 
 <button class="btn btn-danger pull-right" style="margin-right:10px">Logout</button>
</form>
  
  <li class="pull-right"><a href="/connectivity"><img src="/static/images/admin.png" height="35px" width="40px" /> {{ username }}</a></li>
</ul>
</div>

</div>
<div class="content">
<div class="content-left">
<div class="row1">
<div class="welcome">
<h1 class="title">Raspberry Pi NAS -<span> Automated Backup</span></h1>
{% if result %}
<div class="alert alert-danger">
<p class="blinking" style="color:RED; font-size : 18px;">{{ result }}</p>
  </div>     
 {% endif %}


<div class="container">

  <div class="row">
    <div class="col-md-2">
	<ul class="nav nav-tabs nav-stacked">
    <li class="active"><a data-toggle="tab" href="#home">Backup</a></li>
    <li><a data-toggle="tab" href="#ver1">Schedule</a></li>
    <li><a data-toggle="tab" href="#ver2">Restore</a></li>
    <li><a data-toggle="tab" href="#ver3">Trash</a></li>
    <li><a data-toggle="tab" href="#ver3">Log</a></li>
    <li><a data-toggle="tab" href="#ver3">Settings</a></li>
  	</ul>
    </div>
    
   <div class="col-md-2">
      
     <div class="container" style="width : 550px">
  
  

       <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
         <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Backup</a></li>
    <li><a data-toggle="tab" href="#menu1">My Local Files</a></li>
     
   
  </ul>
   <h4>Select files/folder to backup :</h4>
  <form action = "/start_backup" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
<br>
         <input type=submit class="btn btn-primary" value="Backup Files"> <br><br>
      </form>
    </div>
    <div id="menu1" class="tab-pane fade">
      <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#home">Backup</a></li>
    <li><a data-toggle="tab" href="#menu1">My Local Files</a></li>
   
  </ul>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnim.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi </p>
    </div>
 <div id="ver1" class="tab-pane fade">
      <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>
        <h4> Schedule Backup</h4>
        Backup Start Time : <input type="textbox"/><br>
        <input type="checkbox"/>Daily Backup
    </div>
 <div id="ver2" class="tab-pane fade">
      <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Basic</a></li>
    <li><a data-toggle="tab" href="#menu1">Advanced</a></li>
    
  </ul>

    </div>
  </div>

</div>


    </div>
    
    <div class="clearfix visible-lg"></div>
  </div>
</div>

</div>
</div>

<div class="row2">
<div class="section1">
<h2 class="subtitle">Highlights</h2>
<p><strong>
</strong><br>




<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="highlights.html" class="more">read more</a></p>
</div>
<div class="section2">
<h2 class="subtitle">Resources</h2>
<p><strong>
</strong><br>


</p>
<p>&nbsp;</p>
<p><a href="resources.html" class="more">read more</a></p>
</div>
</div>
</div>
<div class="content-right">
<h2>Main Menu</h2>
<ul>
  <li style="border-top: medium none;"><a href="/browse">File Station</a></li>
  <li><a href="/control_panel">Control Panel</a></li>
  <li><a href="/video">Video Station</a></li>
  <li><a href="/audio">Audio Station</a></li>
  <li><a href="/monitor">Resource Monitor</a></li>
  <li><a href="/download">Download Station</a></li>
  <li><a href="/log">Log Center</a></li>
  <li><a href="/help">Help</a></li>
 
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="bottom">
<ul>
  <li style="border-left: medium none;">
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us </a></li>
  <li><a href="/new">What's New</a></li>
  <li><a href="/connectivity">Connectivity</a></li>
</ul>


</body>
</html>
