 <!DOCTYPE html>
<html>
<head>

  <title>Raspberry Pi NAS Box</title>
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-out">
<div class="main">
<div class="page">
<div class="top">
<div class="books">
<div class="header-top">
<h1><span>NAS Box using Raspberry Pi</span></h1>

</div>
<div class="topmenu">
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="about us.html">About Us </a></li>
  <li><a href="what's new.html">What's New</a></li>
  <li><a href="services.html">Connectivity</a></li>
 <button class="btn btn-danger pull-right" style="margin-right:10px">Logout</button>
</ul>
</div>

</div>
<div class="content">
<div class="content-left">
<div class="row1">
<div class="welcome">

<h1 class="title">File Sharing</span></h1>

<h4>Select directory path to share</h4>
    <form action = "/browse" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" webkitdirectory directory multiple />
<br>
         <input type=submit class="btn btn-primary" value="Share Folder"> <br><br>
      </form>
<h4>Shared Folder on Raspberry Pi NAS</h4>

</div>
</div>

<div class="row2">
<div class="section1">
<h2 class="subtitle">Highlights</h2>
<p><strong>
</strong><br>




<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="highlights.html" class="more">read more</a></p>
</div>
<div class="section2">
<h2 class="subtitle">Resources</h2>
<p><strong>
</strong><br>


</p>
<p>&nbsp;</p>
<p><a href="resources.html" class="more">read more</a></p>
</div>
</div>
</div>
<div class="content-right">
<h2>Main Menu</h2>
<ul>
  <li style="border-top: medium none;"><a href="/browse">File Station</a></li>
  <li><a href="new additions.html">Control Panel</a></li>
  <li><a href="news papers available.html">Video Station</a></li>
  <li><a href="general rules.html">Audio Station</a></li>
  <li><a href="anounsment.html">Resource Monitor</a></li>
  <li><a href="timings.html">Download Station</a></li>
  <li><a href="facilities.html">Log Center</a></li>
  <li><a href="e journals.html">Help</a></li>
 
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="bottom">
<ul>
  <li style="border-left: medium none;">
  <li><a href="index.html">Home</a></li>
  <li><a href="about us.html">About Us </a></li>
  <li><a href="what's new.html">What's New</a></li>
  <li><a href="services.html">Connectivity</a></li>
</ul>


</body>
</html>

