<!DOCTYPE html>
<html xml:lang="en" class="login-rcue" lang="en"><head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Login - NAS Box Dashboard</title>
    
<link rel="stylesheet" href="/static/home.css" type="text/css" media="screen">
<script src="/static/jquery-3.1.0.min.js"></script>

<script>
function blinker() {
	$('.blinking').fadeOut(500);
	$('.blinking').fadeIn(500);
}
setInterval(blinker, 1000);
</script>

  </head>
  <body id="splash">
    <a href="http://www.redhat.com/" id="redhat">
      <img src="/static/images/logo.svg" alt="Red Hat">
    </a>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div id="brand">
            <img src="/static/images/brand.png">
          </div><!--/#brand-->
        </div><!--/.span*-->
        <div id="" class="rhlogin">
  <div class="">
    <div class="">
      <div class="modal-header">
        
        <h3>Log In</h3>
      </div>
      

      <form id="" ng-controller="DummyCtrl" name="" autocomplete="on" class="" action="/signup" method="POST">
        <div class="modal-body clearfix">
  <fieldset>
    


<div class="form-group ">
  
    
      <label class="control-label  " for="id_username">User Name</label>
      
    

    <div class=" ">
      <input autofocus="autofocus" class="form-control" id="id_username" name="username" type="text" required>
      
    </div>
  
</div>


  

<div class="form-group ">
  
    
      <label class="control-label  " for="id_password">Password</label>
      
    

    <div class=" ">
      <input class="form-control" id="id_password" name="password" type="password" required>
      
    </div>
  
</div>



  </fieldset>

        </div>
        <div class="modal-footer">
        
  <button type="submit" class="btn btn-primary btn-large">Sign In</button>

        </div>
      </form>


    </div>
  </div>
</div>
{% if error %}

<p class="blinking" style="color:RED; font-size : 24px;">Error: {{ error }}</p>
  
 {% endif %}


      </div>
    </div>
  

</body></html> 









