 <!DOCTYPE html>
<html>
<head>

  <title>Raspberry Pi NAS Box</title>
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <link href="static/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-out">
<div class="main">
<div class="page">
<div class="top">
<div class="books">
<div class="header-top">
<h1><span>NAS Box using Raspberry Pi</span></h1>

</div>
<div class="topmenu">
<ul>
 <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us </a></li>
  <li><a href="/new">What's New</a></li>
  <li><a href="/connectivity">Connectivity</a></li>
 <button class="btn btn-danger pull-right" style="margin-right:10px">Logout</button>
</ul>
</div>

</div>
<div class="content">
<div class="content-left">
<div class="row1">
<div class="welcome">
<h1 class="title">Raspberry Pi -<span> Video Streaming</span></h1>

<input type="submit" class="btn btn-primary pull-right" value="View Live Cam"/>

{% if error %}
<div class="alert alert-danger">
<p class="blinking" style="color:RED; font-size : 24px;">Error: {{ error }}</p>
  </div>     
 {% endif %}

{% block play%}
{% for i in range(video_files_number) %}
   
    <p><a href="/static/video/{{ video_files[i] }}"> <!{{ i+1 }})> <img src="/static/images/video.jpg" height="50px" width="50px" /> {{ video_files[i] }} </a></p>
{% endfor %}
{% endblock %}

<!<img id="bg" src="{{ url_for('video_feed') }}">
  

</div>
</div>

<div class="row2">
<div class="section1">
<h2 class="subtitle">Highlights</h2>
<p><strong>
</strong><br>




<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="highlights.html" class="more">read more</a></p>
</div>
<div class="section2">
<h2 class="subtitle">Resources</h2>
<p><strong>
</strong><br>


</p>
<p>&nbsp;</p>
<p><a href="resources.html" class="more">read more</a></p>
</div>
</div>
</div>
<div class="content-right">
<h2>Main Menu</h2>
<ul>
    <li style="border-top: medium none;"><a href="/browse">File Station</a></li>
  <li><a href="/control_panel">Control Panel</a></li>
  <li><a href="/video">Video Station</a></li>
  <li><a href="/audio">Audio Station</a></li>
  <li><a href="/monitor">Resource Monitor</a></li>
  <li><a href="/download">Download Station</a></li>
  <li><a href="/log">Log Center</a></li>
  <li><a href="/help">Help</a></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="bottom">
<ul>
   <li style="border-left: medium none;">
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us </a></li>
  <li><a href="/new">What's New</a></li>
  <li><a href="/connectivity">Connectivity</a></li>
</ul>


</body>
</html>
